{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/st.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="cotainer">
        <div class="d-flex flex-column">
            <p class="m-auto p-2">
                we've emailed you instructions for setting your password, if an account exists You should receive them shortly.
            </p>
            <p class="m-auto p-2">
                If you don't receive an email, please enter your email make sure you've entered your the address you registered with.
                and check your spam folder.
            </p>
            <p class="m-auto p-2"> 
                <a href="{% url 'login' %}">Return to Home page.</a>
            </p>
        </div>
    </div>
</body>
</html>